.adbanner{
    color: black;
    padding-top: 3rem;
    position: relative;
    background-size: cover;
    border-radius: 10px; 
    overflow: hidden; 
}


.photocontainer{
    position: absolute;
    top: 187px;
    left: 237px;
    width: 335px;
    height: 359px;
    overflow: hidden;
    border-radius: 50%;
   
}




.photocontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

